* {
	font-family: "Rationale", sans-serif;
}

body {
	background: linear-gradient(
		to left rgba(226, 40, 40, 0.5),
		rgba(199, 47, 27, 0.5)
	);
}

.about-cover {
	background: url(./assets/images/dinning.png) no-repeat center center;
	background-size: cover;
	height: 500px;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .about-head {
	font-size: 60px;
}

.about-rule {
	border: 10px solid rgb(12, 243, 243);
	width: 90%;
}

.about-text {
	font-size: 24px;
}

.footer {
	background: rgb(0, 0, 0);
	color: white;
}
